$slate: #3b3b3b;
$parchment: #fffcf5;
$brown: #652d30;
$purple: #2F2D76;

$primary: 'Raleway';
$secondary: 'Open Sans';
$third: 'roboto';
$fourth:'vollkorn';
$fifth: 'gentium book basic';
$seventh: 'Lato';
$sixth: 'Cormorant Garamond';